[mpd]
hostname = ::

[local]
enabled = false

[audio]
output = alsasink

[spotify]
username = {{ spotify_user }}
password = {{ spotify_password }}

[http]
hostname = ::

[soundcloud]
auth_token = {{ soundcloud_auth_token }}
