[mpd]
hostname = ::

[local]
enabled = false

[audio]
output = alsasink
mixer = rxv

[spotify]
username = {{ spotify_user }}
password = {{ spotify_password }}

[http]
hostname = ::
static_dir = /home/pi/mopidy-lux/dist

[soundcloud]
auth_token = {{ soundcloud_auth_token }}
